[flake8]
max-line-length = 125
max-local-variables = 7

ignore =
    # Missing parameter(s) in Docstring
    DAR101,

    # Missing "Returns" in Docstring
    DAR201,

    # Missing exception(s) in Raises section
    DAR401,

    # Line too long
    E501,

    # Using etree to parse untrusted XML data
    S410,

    # Found string literal over-use: 0 > 3
    WPS226,

    #  Found too long ``try`` body length
    WPS229,

    # F-strings is OK
    WPS305,

    # Found class without a base class - dataclass used
    WPS306,


per-file-ignores =
    # WPS115 Found upper-case constant in a class
    # WPS202 Found too many module members
    # WPS204 Found overused expression
    # WPS212 Found too many return statements
    # WPS213 Found too many expressions
    # WPS347 Found vague import that may cause confusion: F
    # WPS432 Found magic number
    # WPS462 Wrong multiline string usage

    publisher/bot.py: WPS202, WPS347, WPS204
    publisher/presenter.py: WPS202, WPS213
    publisher/settings.py: WPS115, WPS432,
    publisher/storage.py: WPS202,
    publisher/translation.py: WPS462,
    publisher/types.py: WPS212
