name: deploy-production

on:
  push:
    branches:
      - main

jobs:
  on-success:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.1
      - uses: actions/setup-python@v5.0.0
        with:
          python-version: '3.14'

      - name: deploy
        uses: antonov1991/ssh-scp-ssh-pipelines@v1.1.4
        env:
          TARGET_DIR: /home/${{ secrets.USERNAME_PRODUCTION }}
          VENV_BIN: venv/bin
        with:
          host: ${{ secrets.HOST_PRODUCTION }}
          user: ${{ secrets.USERNAME_PRODUCTION }}
          pass: ${{ secrets.PASSWORD_PRODUCTION }}
          port: 22
          connect_timeout: 10s
          first_ssh: |-
            mkdir -p publisher
            mkdir -p logs
            test -d venv || python3.14 -m venv venv
            touch .env

          scp: |-
            './publisher/*' => $TARGET_DIR/publisher/
            './etc/crontab.txt' => $TARGET_DIR      
            ./poetry.lock => $TARGET_DIR
            ./pyproject.toml => $TARGET_DIR

          last_ssh: |-
            source $VENV_BIN/activate 
            pip install --no-cache-dir poetry pip setuptools packaging --upgrade
            poetry install --only main --no-root
            pip cache purge 
            
            echo 'API_TOKEN="${{ secrets.API_TOKEN }}"' > .env
            echo 'BOT_TOKEN=${{ secrets.BOT_TOKEN_PRODUCTION }}' >> .env
            echo 'PUBLISH_CHANNEL_SALE_ID=${{ secrets.CHANNEL_SALE_ID_PRODUCTION }}' >> .env
            echo 'PUBLISH_CHANNEL_LEASE_ID=${{ secrets.CHANNEL_LEASE_ID_PRODUCTION }}' >> .env
            echo 'LOGS_CHANNEL_ID=-1002379187635' >> .env
            echo 'HELEKET_API_KEY="${{ secrets.HELEKET_API_KEY }}"' >> .env
            echo 'HELEKET_WEBHOOK_CALLBACK_HOST="http://${{ secrets.HOST_PRODUCTION }}:8001"' >> .env
            echo 'ADMINS="${{ secrets.ADMINS }}"' >> .env

            echo '' >> crontab.txt
            crontab crontab.txt
            
            supervisorctl restart estate-bot
            supervisorctl restart estate-webapp
            supervisorctl restart estate-publisher
